@import url("../css/theme.css");

.nav ul li {
  list-style: none;
}

.nav ul a {
  text-decoration: none;
}

.side-panel {
  position: fixed;
  width: 5rem;
  padding: 0;
  height: 100vh;
  z-index: 999 !important;
  background-color: var(--primary-color);
  overflow: hidden;
}

.side-panel .logo {
  font-size: 1.8rem;
  color: var(--pri);
}

.side-panel span {
  color: black;
}
