@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color: #002b5b;
  --secondary-color: #2b4865;
  --tertiary-color: #256d85;
  --contrast-color: #8fe3cf;
  --font-family: Poppins;
  --font-color-1: #2b4865ce;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-custom-secondary {
  background-color: var(--secondary-color);
}
